"""
SERVICIO NACIONAL DE APRENDIZAJE SENA
Curso de Formacion Complementaria ANÁLISIS EXPLORATORIO DE DATOS EN PYTHON 16/06/2023
Ficha: 2769316
Aprendiz: JAMITH ALEXANDER GARCIA ARRIETA
Evidencia AA3-EV01: Dscripción del funcionamiento de la herramienta Python para la manipulación y visualización de la información.
"""

# Informe en el que se identifiquen las variables y los componentes estadísticos a partir de una situación planteada. AA3-EV02.

- Importe las librerías Pandas

In [2]:
#Para importar la librería Pandas que servirá para la lectura del archivo CSV, ejecute el siguiente comando

import pandas as pd

- Lectura de datos

In [11]:
#Se procede con la lectura de los datos que ya se encuentran en el archivo, los cuales deben ser asignados a la variable df
#El nombre de la variable será df, que hace referencia a un dataframe

df = pd.read_csv('DatosSeguros.csv')

# Identificación de los datos

In [12]:
#Se aplica el siguiente comando para obtener información de los datos

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1349 non-null   int64
 1   sexo          1349 non-null   object
 2   imc           1347 non-null   float64
 3   hijos         1349 non-null   int64
 4   fumador       1347 non-null   object
 5   region        1349 non-null   object
 6   valor_seguro  1349 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.9+ KB

# Manipulando los datos

In [ ]:
#los datos que el resultado para las columnas imc y fumador es de 1347, mientras que para las demás columnas es de 1349. 
#Esto indica que existen valores vacíos para esas dos variables.

- Detectar los valores vac{ios o nulos

In [13]:
#Se aplica a los datos almacenados en df el comando isnull sum con la siguiente sintaxis: Comando: df.isnull().sum()

df.isnull().sum()

edad            0
sexo            0
imc             2
hijos           0
fumador         2
region          0
valor_seguro    0
dtype: int64

- Eliminar valores nulos

In [14]:
#Para eliminar los valores nulos en la coleccion de datos usamos el siguiente comando df = df.dropna()

df=df.dropna()

In [15]:
#Se aplica el siguiente comando para verificar información de los datos

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345 entries, 0 to 1348
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1345 non-null   int64
 1   sexo          1345 non-null   object
 2   imc           1345 non-null   float64
 3   hijos         1345 non-null   int64
 4   fumador       1345 non-null   object
 5   region        1345 non-null   object
 6   valor_seguro  1345 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 84.1+ KB

- Eliminar datos duplicados

In [16]:
#Para eliminar datos duplicados aplicamos el siguiente comando sobre el df con la información Comando: df=df.drop_duplicates()

df=df.drop_duplicates()

In [17]:
#Se aplica el siguiente comando para verificar información de los datos

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1333 entries, 0 to 1347
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1333 non-null   int64
 1   sexo          1333 non-null   object
 2   imc           1333 non-null   float64
 3   hijos         1333 non-null   int64
 4   fumador       1333 non-null   object
 5   region        1333 non-null   object
 6   valor_seguro  1333 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.3+ KB

# Ordenamiento de los datos

- Ordenar datos por el campo edad de Mayor a Menor

In [21]:
#Para ordenar los datos por Edad de mayor a menor usamos el siguiente comando edad = df.sort_values('edad') adicional el comando edad.head(10) para indicar que solo traiga 10 registros

edad=df.sort_values('edad')
edad.head(10)

      edad sexo     imc  hijos fumador        region  valor_seguro
1097    18    F  31.350      4      no        Boyaca    4561.18850
59      18    M  31.680      2     yes  Cundinamarca   34303.16720
1251    18    M  33.330      0      no  Cundinamarca    1135.94070
297     18    M  22.990      0      no        Boyaca    1704.56810
1255    18    F  39.820      0      no  Cundinamarca    1633.96180
944     18    F  40.185      0      no        Boyaca    2217.46915
1152    18    F  30.305      0      no        Boyaca    2203.73595
665     18    M  33.660      0      no  Cundinamarca    1136.39940
52      18    F  35.625      0      no        Boyaca    2211.13075
650     18    M  28.500      0      no        Boyaca    1712.22700

- Ordenar datos por el campo edad de Menor a Mayor

In [22]:
#Para ordenar los datos por Edad de mayor a menor usamos el siguiente comando edad = df.sort_values('edad',ascending=False) adicional el comando edad.head(10) para indicar que solo traiga 10 registros

edad=df.sort_values('edad',ascending=False)
edad.head(10)

      edad sexo     imc  hijos fumador        region  valor_seguro
422     64    M  33.880      0     yes  Cundinamarca   46889.26120
754     64    M  37.905      0      no     Antioquia   14210.53595
404     64    F  32.965      0      no     Antioquia   14692.66935
420     64    M  39.160      1      no  Cundinamarca   14418.28040
380     64    F  30.115      3      no     Antioquia   16455.70785
1053    64    M  26.410      0      no        Boyaca   14394.55790
827     64    F  31.825      2      no        Boyaca   16069.08475
1248    64    M  36.960      2     yes  Cundinamarca   49577.66240
803     64    F  35.970      0      no  Cundinamarca   14313.84630
337     64    M  34.500      0      no        Caribe   13822.80300

# Agrupamiento de datos

In [30]:
#Creacion de Variables

#1) Definir Rango de Edades
rangos=[17,28,38,48,58,68]

#2) Establecer el nombre para cada rango
nombreRango=["A","B","C","D","E"]

#3) Se crea nueva columna con el nombre Rango_Edad donde almacenara le dato del rango de edad segun correponda 

df['Rango_Edad'] = pd.cut(df['edad'], rangos, labels=nombreRango)

# Comprobamos que se ha creado una nueva columna
df.info()

      edad sexo     imc  hijos fumador        region  valor_seguro Rango_Edad
422     64    M  33.880      0     yes  Cundinamarca   46889.26120          E
754     64    M  37.905      0      no     Antioquia   14210.53595          E
404     64    F  32.965      0      no     Antioquia   14692.66935          E
420     64    M  39.160      1      no  Cundinamarca   14418.28040          E
380     64    F  30.115      3      no     Antioquia   16455.70785          E
1053    64    M  26.410      0      no        Boyaca   14394.55790          E
827     64    F  31.825      2      no        Boyaca   16069.08475          E
1248    64    M  36.960      2     yes  Cundinamarca   49577.66240          E
803     64    F  35.970      0      no  Cundinamarca   14313.84630          E
337     64    M  34.500      0      no        Caribe   13822.80300          E